body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.header {
    text-align: center;
    padding: 10px 0;
    background-color:black;
    color: #fff;
    border-radius: 10px;
}

.header img {
    max-width: 180px;
   
}

.header h1 {
    margin: 10px 0;
    font-size: 24px;
}

.content {
    padding: 20px;
    line-height: 1.5;
}

.content h2,
.content h3 {
    color: #f58220;
    font-size: 18px;
}

.content ul {
    padding-left: 20px;
}

.content ul li {
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    color: #666;
}

.footer a {
    text-decoration: none;
}

.footer img {
    width: 20px;
    margin: 0 8px;
}

.qrscan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.qr-container div {
    width: 48%;
}

.qr-container img {
    width: 100%;
}

#logo{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;

    .center-text{
        height: 100%;
        width: 120px;
        display: flex;
        justify-content: space-evenly;
    }
}